.Btn
  outline none
  cursor pointer
  &-azul
    border none
    border-radius 3px
    background-color #0069ff
    color #fff
    font-family Roboto-Regular
    font-size 14px
    padding 10px 5px
    transition .3s
    margin 10px 0px
    &:hover
      background-color #0056d1
      transition .3s
.Btn
  outline none
  cursor pointer
  &-dark
    border none
    border-radius 3px
    background-color #1f1f2f !important
    color #fff
    font-family Roboto-Regular
    font-size 14px
    padding 10px 5px
    transition .3s
    margin 10px 0px
    &:hover
      background-color #0056d1
      transition .3s
.Btn
  outline none
  cursor pointer
  &-azuloscuro
    border none
    border-radius 3px
    background-color #03369c
    color #fff
    font-family Roboto-Regular
    font-size 14px
    padding 10px 5px
    transition .3s
    margin 10px 0px
    text-align center
    width auto
    &:hover
      background-color #041c4d
      transition .3s
.Btn-editar
  padding 5px 10px
  border 1px solid #666
  border-radius 3px
  color #666
  white-space nowrap
  background-color #fff
  transition 0.3s
  &:hover
    background-color #666
    color #fff
    transition 0.3s
  i
    margin-right 5px
    font-size 12px

.Btn-table-gris
  padding 5px 10px
  border 1px solid #666
  border-radius 3px
  color #666
  white-space nowrap
  background-color #fff
  transition 0.3s
  &:hover
    background-color #666
    color #fff
    transition 0.3s
  i
    margin-right 5px
    font-size 12px
.Btn-table-verde
  padding 5px 10px
  border 1px solid #4CAF50
  border-radius 3px
  color #4CAF50
  white-space nowrap
  background-color #fff
  transition 0.3s
  &:hover
    background-color #4CAF50
    color #fff
    transition 0.3s
  i
    margin-right 5px
    font-size 12px
.Btn-table-rojo
  padding 5px 10px
  border 1px solid #f44336
  border-radius 3px
  color #f44336
  white-space nowrap
  background-color #fff
  transition 0.3s
  &:hover
    background-color #f44336
    color #fff
    transition 0.3s
  i
    margin-right 5px
    font-size 12px
.Btn-expand
  padding 10px 40px
.Btn-verde-oscuro
  background-color #009688
  color #fff
  padding 8px 10px
  margin 10px 0px
  border-radius 3px
  &:hover
    background-color #157d74



