.Forms
  width 100%
  input
    width 100%
  input[type="text"], input[type="number"], input[type="email"], input[type="password"], select
    width 100%
    outline none
    border none
    border 1px solid #ddd
    font-size 14px
    background-color #fff
    padding 10px 10px
    border-radius 3px
    margin 10px 0px
    transition .3s
    &:focus
      border 1px solid #0069ff
      transition .3s
  label
    display block
    color #666
    font-family Roboto-Bold
    font-size 14px

  

