.Admin-top
  background-color #ca0b0b
  border-bottom 0px solid #ddd
  box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
  position fixed
  width 100%
  z-index 100  
  &-int
    display flex
    padding 5px 10px
    &-der, &-izq
      width 50%
      display inline-block
    &-izq img
      padding 12px
  &-title
    color #fff
    font-family Arial
    font-size 18px
    font-weight 800
    display inline-block
    vertical-align top
    letter-spacing .5px
    padding 14px 0px
.Ant
  color #333 !important
  border-radius 3px
.Sig
  color #fff !important
  border-radius 3px
.Alinear-dere
  text-align right
.Active
  background-color rgb(213, 225, 250)
.Login-logo
  width 180px
  margin 0px auto
  img
    width 100%
.Admin-menu-burger
  filter brightness(7)
  width 59px !important
  margin-top 4px
.Bold-ro
  font-family Roboto-Bold
.Btn-flotante-crear
  width 100%
  text-align right
.Contenedor-ajustes
  width 100%
  position relative
  display flex
  &-izq
    width 20%
  &-der
    padding 30px 20px 0px 20px
    width 80%
.Contenedor-perfil
  width 100%
  display flex
  &-sec
    padding 0px 10px
    width 350px
.Contenedor-principal
  position relative
  width 100%
  &-titulo
    width 100%
    display flex
    &-sec
      width 50%
    h2
      font-size 20px
      margin 10px 0px
  &-izq
    background #041c4d
    box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
    flex-shrink 0
    height 100%
    overflow-y auto
    position fixed
    z-index 51
    width 250px
    transition 0.5s
    &-menu
      padding 49px 0 0 0
  &-der
    position relative
    margin-left 20px
    padding 76px 13px 20px 0px
    width auto
    transition 0.3s
    &-int
      background-color #fff
      border-radius 5px
      padding 10px 20px
      width 100%
.Contenedor-menu-izq
  padding-left 0px
  li
    list-style none
    border-bottom 1px solid #a4b4ce2b
    a
      color #a4b5ce
      cursor pointer
      display block
      font-family Roboto-Bold
      padding 16px 10px 16px 30px
      transition 0.3s
      &:hover
        color #fff
        background-color #34496f
.Contenedor-dash
  max-width 1024px
  margin 0px auto
  border 1px solid #ddd
  padding 20px
  border-radius 5px
  background #f9f9f9
  &-int
    width 100%
    position relative
    &-filtro
      width 100%
      text-align right
      &-celda
        width 20%
        position absolute
        right 0px
        top -64px
    &-contenido
      width 100%
      padding 20px 0px
  &-interno
    width 100%
    display flex
  &-bloque
    background-color #fff
    cursor pointer
    padding 15px 20px 0px 20px
    // border 1px solid #ddd
    width 317.23px
    box-shadow 0 0 8px rgba(0,0,0,0.3)
    transition-duration .2s
    transition-timing-function ease-out
    margin-right 15px
    margin-bottom 20px
    &:last-child
      margin-right 0px
    &:hover
      transform translateY(-5px)
      box-shadow 0 14px 32px 0 rgba(0,0,0,0.3)
    &-sup 
      width 100%
      max-height 164px
    &-inf
      padding 5px 0px 0px 0px
      width 100%
    &-infosup
      height 100px
      overflow hidden
.Cont-dash-nmcurso
  font-family Roboto-Bold
  font-size 16px
.Cont-dash-nmprofe
  display block
  color #666
  font-family Roboto-Regular
.Cont-dash-nprogreso
  display block
  margin-top 20px

.Contenedor-dash-cursol1
  width 70%
.Contenedor-dash-cursol2
  width 30%
        
.Contenedor-inf-docente
  width 100%
  background-color #fff
  border 1px solid #ddd
  border-radius 5px
  margin-bottom 20px
  &-int
    width 100%
    position relative
.Contenedor-bloque-docente
  width 100%
  padding 20px 20px 20px 20px
  margin-bottom 20px
  figcaption
    font-size 12px
    margin-top 5px
.Contenedor-bloque-imagen
  cursor pointer
  width 40px
  height 40px  
  border-radius 50%
  overflow hidden
  img
    width 40px
.Contenedor-bloque-texto
  width 100%
  word-break break-all
  p
    font-family Roboto-light
    font-size 14px
  ul
    margin-left 20px
  ul li
    list-style-type disc !important
    font-family Roboto-light
    font-size 14px
  iframe
    width 100%
.Contenedor-bloque-actividades
  width 100%  
  background-color #fff
  border 1px solid #ddd
  border-radius 5px
  margin-left 5px
  position relative
  padding 20px
  margin-bottom 10px
  &-sec    
    width 100%
  &-sup
    
    width 100%
    display flex
    align-items center
    span
      padding-left 10px
  &-inf
    width 100%
    ul li
      text-align justify
      border-bottom 1px solid #ddd
      padding 5px 5px
      &:hover
        background-color #f2f2f2
      a
        color #666
    ul li a:hover
      color #000
.I-verde
  color #009688
.I-rojo
  color #F44336
.Contenedor-admin-modulo
  width 100%
.Contenedor-editor-texto
  width 100%
  textarea
    width 100%
.Contenedor-repuestaforo
  width 100%
  &-int
    width 100%
  &-editor
    width 100%
    &-btn
      margin 10px 0px
      padding 10px 0px
      width 100%
  &-comentario
    width 100%
    background-color #fff
    border-radius 5px
    border 1px solid #ddd
    padding 10px 20px
    margin-bottom 10px
    &-sup
      display flex
      width 100%
      &-izq
        width 50%
        span
          color #2196F3
          font-size 16px
          font-family Roboto-Bold
      &-der
        width 50%
        text-align right

.Contenedor-submenu
  position relative
  width 100%  
  &-izq
    background #cfcfcf
    box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
    flex-shrink 0
    height 100%
    overflow-y auto
    position fixed    
    width 250px
    transition 0.5s
    &-menu
      padding 0px 0 0 0
  &-der
    position relative
    margin-left 20px
    padding 76px 13px 20px 0px
    width auto
    transition 0.3s
    &-int
      background-color #fff
      border-radius 5px
      padding 10px 20px
      width 100%
.Contenedor-submenuint-izq
  padding-left 0px
  li
    list-style none
    border-bottom 1px solid rgba(139, 139, 139, 0.169)
    a
      color #000
      cursor pointer
      display block
      font-family Roboto-Bold
      padding 16px 10px 16px 30px
      transition 0.3s
      &:hover
        color #fff
        background-color #a6a4a4
.Contenedor-principal-izq-min
  transform translateX(-282px)
  transition .5s
.Contenedor-desc
  width 100%
  position relative
  &-int
    width 100%
.Contenedor-filtros
  width 100%
  position relative
  &-int
    display flex
    width 100%
.Contenedor-tabs
  padding 30px 0px
.Content-table
  width 100%
  overflow-x auto
.Contenedor-formularios
  width 100%
  position relative
  &-int
    width 100%
  &-bloque
    width 100%
    display flex  
.Colum-uno
  width 100%
  padding 0px 5px
  &:first-child
    padding-left 0px
  &:last-child
    padding-right 0px
.Colum-dos
  width 50%
  padding 0px 5px
  &:first-child
    padding-left 0px
  &:last-child
    padding-right 0px
.Colum-tres
  width 33.3333%
  padding 0px 5px
  &:first-child
    padding-left 0px
  &:last-child
    padding-right 0px
.Colum-cuatro
  width 25%
  padding 0px 5px
  &:first-child
    padding-left 0px
  &:last-child
    padding-right 0px
.Contenedor-archivos-lista li
  line-height 26px

.Contenedor-pregunta
  border 1px solid #dddddd
  border-radius 10px
  padding 30px 20px
  margin 0px 0px 30px 0px
  &-top
    text-align right
    margin-bottom 5px
.Contenedor-texto-pregunta
  background-color #fffaec
  border-radius 5px
  border 1px solid #fde395
  padding 10px 10px 10px 10px
  margin 0px 0px 20px 0px
.Cont-nombre-estudiante
  background-color #cce5ff
  display initial
  padding 8px 10px
  color #004085
  border-radius 3px
  border 1px solid #b8daff
.Contenedor-texto-tarea
  background-color #f9f9f9
  border-radius 5px
  border 1px solid #ddd
  padding 10px 10px 10px 10px
  margin 0px 0px 20px 0px
.Contenedor-respuestas-lista
  width 100%
  ul li
    list-style-type disc !important
    list-style circle
    margin-left 20px
.Cont-calificacion
  background-color #cce5ff  
  padding 0px 10px
  color #004085
  border-radius 3px
  border 1px solid #b8daff
  width 130px
.Contenedor-califica-rapida
  padding-bottom 4em
.Rp-bien
  color green
.Rp-mal
  color red
  text-decoration line-through
.Header-user
  width 100%
  position relative
  &-int
    width 60px
    float right
    padding 10px 10px 0px 10px
    position relative
  &-img
    cursor pointer
    width 40px
    height 40px
    float right
    border-radius 50%
    overflow hidden
    img
      width 40px
.Division
  border solid #eaeaea
  border-width 1px 0 0
  clear both
  margin 0.6rem 0px
  height 0  
  text-align center
.Header-menu-user
  background-color #fff
  border-radius 5px
  position absolute
  right 10px
  top 50px
  box-shadow 0 2px 10px rgba(0,0,0,.2)
  &-int
    position relative
    margin 0px
    li
      width 100%
      border-bottom 1px solid #ddd
      &:last-child
        border-bottom 0px

      a
        padding 10px 15px
        white-space nowrap
        display block
        color #666
        transition 0.3s
        &:hover
          background-color #f9f9f9
        i
          margin-right 6px
.Header-menu-user-oculto
  display none
.Max-ancho
  width 100% !important
.Ig-abajo input
  margin-bottom 1px !important
.Ancho-dos
  width 10%
.Ancho-tres
  width 20%
.Ancho-cuatro
  width 50%
.Alineado-centro
   text-align center
.Fuente-bold
   font-family Roboto-Bold
.Icon-tabs
  margin-right 8px
.Modal-padding-top
  padding-top 10px
.Oculto
   display none
.Proyecto-vistas
  text-align right 
  display block
  padding 10px 10px
  a    
    padding 16px 12px 10px 12px
    color #666
    &:hover
      background-color #ddd
      border-radius 50%
      padding 16px 12px 10px 12px

    i
      font-size 20px
      
.Perfil-imagen
  width 167px
  height 167px
  overflow hidden
  margin 0px auto
  border-radius 50%
.Titulo-tarea
  margin 10px 0px
  display block
  padding 10px 0px
.Table-virtual tbody tr:hover
  background-color rgba(63,81,181,0.102) !important
.Tablero
  width 100%
  position relative
  height 90vh
  margin-bottom 1em
  margin-top 1em
  &-int
    border 1px solid #ddd
    background-color #b0dcf145
    border-radius 3px
    width 100%
    height 90vh
    display flex
    overflow-x auto
  &-sec
    width 20%
    border-right 1px solid #ddd
    &:last-child
      border-right 0px
    &-titulo
      width 100%
      background-color #0e3ea8
      text-overflow ellipsis
      padding 8px 10px
      display flex
      justify-content center
      position sticky
      position -webkit-sticky 
      span        
        display block        
        white-space nowrap
        overflow hidden
        color #fff
        text-align center
        font-family Roboto-Bold  
    &-proyecto
      background-color #fff
      padding 10px 10px
      border-bottom 1px solid #dddddd
      margin-bottom 10px
      border-top 1px solid #dddddd
.Titulo-seccion
  margin 10px 0px
  font-family Roboto-Regular
  font-size 20px
  line-height 24px

.Table-titulpro
  display block
  font-family Roboto-Bold
  text-align center
  line-height 20px
  font-size 16px
.Tab-div-proy
  border solid #eaeaea
  border-width 1px 0 0
  clear both
  margin 0.6rem 0px
  height 0  
  text-align center

.Table-not
  background-color #fff
  color #000 !important  
  width auto
  height 20px  
  padding 1px 6px
  margin-right 8px
  border-radius 3px
.Tab-pro-opcion
  width 100%
  a
    display inline-block
    padding 5px
    margin 0px 5px
.Table-titul-empre
  text-align center
  display block
  font-family Roboto-light
  text-transform uppercase
  font-size 14px
.Tab-pro-valor
  text-align center
  font-family Roboto-Bold
  display block
  color #13796f
.Set-padding-izqder
  padding-left 0px
  padding-right 0px
.Set-margin-izqder
  margin-left 0px
  margin-right 0px
.Set-padding-ajustes
  padding 46px 13px 20px 0
.Table-tr-gris tr:hover
  background-color #f9f9f9
.Text-center
  text-align center !important
.Text-gris
  color #666
.Text-block
  display block
.tabs li a
  color #041c4d !important
  transition .3s
  &:hover
    background-color rgb(213, 225, 250) !important
    transition .3s
.Tablero-emergente
  background-color #fff
  flex-shrink 0
  height 100%
  overflow-y auto
  position fixed
  z-index 51
  width 1024px
  transition 0.5s
  top 68px
  right 0px
  box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
  transform translateX(1024px)
  &-int
    width 100%
    padding 10px
    position relative
.Tablero-top
  float right
.Tablero-emergente-cap
  transform translateX(0px)


.Vista-reportes
  width 100%
  &-int
    position relative
    padding 2em 0px
    width 100%
    &-sup
      width 100%
      display flex
      padding-bottom 1.5em
      &-sec
        background-color #fff
        width 20%
        margin 10px 10px 10px 10px
        text-align center
        border 1px solid #ddd
        border-radius 5px
        padding 10px
        box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
        &:last-child
          margin 10px 0px 10px 10px
        &:first-child
          margin 10px 10px 10px 0px
        h5
          color #2196F3
          margin-top 10px
        .Re-label
          color #999
    &-inf
      width 100%
      display flex
      padding-bottom 1.5em
      &-sec
        width 25%
        margin 10px 10px 10px 10px
        text-align center        
        border-radius 5px
        padding 10px
        &:last-child
          margin 10px 0px 10px 10px
        &:first-child
          margin 10px 10px 10px 0px
        h5
          color #041b4d


.Vista-r-num
  color #041b4d
  font-family Roboto-Bold
  font-size 26px

.Valor-numgran
  font-size 30px
