.Cont-globalpantalla
  background-image url('../../dist/assets/images/bg_inicio.jpg')
  background-size cover
  background-position center center
  background-repeat no-repeat
  width 100%
  height 100vh
  display flex

  &-login-izq    
    width 100%
  // &-login-der
  //   background-image url('../../dist/assets/images/Bagappgri.jpg')
  //   background-size cover
  //   background-position center center
  //   background-repeat no-repeat
  //   width 60%

.Cont-login
  display table
  height 100vh
  position relative
  width 100%
  &-int
    display table-cell
    vertical-align middle
    
.Login
  margin 0px auto
  width 280px
  &-footer
    width 100%
    & p a > span
      color #033379
  &-form
    margin 30px 0px
.Login-texto-rojo
  color red

@media screen and (max-width: 1024px)
  .Cont-globalpantalla
    display block
    &-login-izq
      width 100%
    &-login-der
      display none
