@import "nib"

body   
   font-family Roboto-Regular
   margin 0px
   padding 0px
   overflow-x hidden
   -webkit-font-smoothing antialiased
p
   color #333
   font-size 14px
   line-height 22px
h1   
   font-family Poppins-Bold
   font-size 25px
   font-weight 300
h2
  font-family Poppins-Bold
  font-size 36px
h4
   color #666
   font-family Poppins-Bold
   font-size 20px
   font-weight 300
h3
   color #666
   font-family Poppins-SemiBold
   font-weight 300
   font-size 20px
strong
  font-family Poppins-Bold
@font-face
    font-family 'icomoon'
    src url('../assets/fonts/icomoon.eot?xql124')
    src url('../assets/fonts/icomoon.eot?xql124#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?xql124') format('truetype'),
        url('../assets/fonts/icomoon.woff?xql124') format('woff'),
        url('../assets/fonts/icomoon.svg?xql124#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


*
   box-sizing border-box

a
  cursor pointer
  outline none
  text-decoration none
  -webkit-tap-highlight-color transparent

@import 'login.styl'
@import 'icons.styl'
@import 'botones.styl'
@import 'generales.styl'




@media screen and (max-width: 1024px)
  p
    font-size 16px !important
    line-height 28px !important