@import "nib"
body
  margin 0px 
  padding 0px
  *
    box-sizing border-box
a
  text-decoration none
h4
  margin 0px
  padding 0px
  font-family Arial, Helvetica, sans-serif
  font-size 30px
p, a, span
  font-family Arial, Helvetica, sans-serif
.Bgris
  background-color #f2f2f2
.Fondo-contra
  background-color #f2f2f2
  width 100%
  position relative
  &-int
    margin 0px auto
    padding 40px 20px
    width 700px
.Box-email
  background-color #fff
  border-radius 8px
  padding 0px 0px
  text-align center
  &-top
    background-color #041c4d
    border-top-right-radius 8px
    border-top-left-radius 8px
    padding 30px 0px 40px 0px
    h4
      color #fff
  p
    text-align justify
    line-height 24px
    font-size 14px
  &-middle
    padding 10px 40px
  &-bottom
    padding 20px 40px 40px 40px
  &-footer
    background-color #041c4d
    padding 10px 40px
    border-bottom-right-radius 8px
    border-bottom-left-radius 8px
    p
      color #6f9cff
      font-size 12px
    a
      color #6f9cff

.Box-code
  padding 20px 0px

  span
    background-color #eaeaea
    font-size 25px
    padding 10px
    border-radius 5px
.Center
  text-align center !important
.Btn-azul
  background-color #0069ff
  color #fff
  padding 10px
  border-radius 3px

@media screen and (max-width: 1024px)
  .Fondo-contra-int
    width 90%



  
